@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    font-family: 'Robot', sans-serif;
    box-sizing: border-box;
}

.singlePost {
    width: 300px;
    padding: 1%;
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 2% auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
    border-radius: 5px;
}

.img {
    width: 30%;
}
img {
    width: 100%;
}
.more {
    width: 70%;
}
.setting {
    display: none;
    position: absolute;
    right: -60px;
    bottom: 1px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
    padding: 5px;
    border-radius: 5px;
}
button {
    float: right;
}
.setting.show {
    display: block;
}
a {
    text-decoration: none;
    display: block;
}